{% extends "admin/base.html" %}

{% block admin_content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Total Cars</h5>
                <p class="card-text display-4">{{ car_count }}</p>
                <a href="{% url 'admin_car_list' %}" class="text-white">View all</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Active Jobs</h5>
                <p class="card-text display-4">{{ active_jobs }}</p>
                <a href="{% url 'admin_job_list' %}" class="text-white">View all</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h5 class="card-title">Recent Orders</h5>
                <p class="card-text display-4">{{ recent_orders }}</p>
                <a href="{% url 'admin:app_order_changelist' %}" class="text-white">View all</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}