{% extends 'base.html' %}
{% load static %}

{% block tittle %}News Details{% endblock %} {# Added title block #}


{% block content %}
{% load static %}
<div class="news_detail_section layout_padding" style="background-color: #f5f5f5; padding-top: 30px; padding-bottom: 30px;">
    <div class="container">
        <div class="row">
            <!-- First News Item -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="news_item">
                    <div class="news_image text-center mb-3">
                        <img src="{% static 'images/news1.jpg' %}" alt="News 1" class="img-fluid" style="max-width: 100%; height: auto;">
                    </div>
                    <h3 class="news_title text-center" style="font-size: 24px; font-weight: bold; color: #333;">Latest Car Release</h3>
                    <p class="news_content" style="font-size: 16px; color: #555; line-height: 1.8; text-align: justify;">
                        The new model of the car has been launched! It features advanced safety features, better fuel efficiency, and a sleek design. It's available for purchase now!
                    </p>
                </div>
            </div>
            <!-- Second News Item -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="news_item">
                    <div class="news_image text-center mb-3">
                        <img src="{% static 'images/news2.jpg' %}" alt="News 2" class="img-fluid" style="max-width: 100%; height: auto;">
                    </div>
                    <h3 class="news_title text-center" style="font-size: 24px; font-weight: bold; color: #333;">Exclusive Used Car Offers</h3>
                    <p class="news_content" style="font-size: 16px; color: #555; line-height: 1.8; text-align: justify;">
                        Take advantage of our exclusive offers on used cars. Get amazing discounts and flexible financing options. Visit us for more details.
                    </p>
                </div>
            </div>
            <!-- Third News Item -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="news_item">
                    <div class="news_image text-center mb-3">
                        <img src="{% static 'images/news3.jpg' %}" alt="News 3" class="img-fluid" style="max-width: 100%; height: auto;">
                    </div>
                    <h3 class="news_title text-center" style="font-size: 24px; font-weight: bold; color: #333;">New Car Accessories Now Available</h3>
                    <p class="news_content" style="font-size: 16px; color: #555; line-height: 1.8; text-align: justify;">
                        Discover the latest car accessories that will enhance your driving experience. From floor mats to advanced GPS systems, we’ve got it all!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
