{% extends 'base.html' %}
{% load static %}

{% block tittle %}Product Details{% endblock %} {# Added title block #}


{% block content %}
{% load static  %}
<div class="new_launch_section layout_padding" style="background-color: #f8f9fa; padding-top: 30px; padding-bottom: 30px;">
    <div class="container">
        <!-- New Launch Products Heading -->
        <div class="text-center mb-4">
            <h2 class="text-uppercase" style="font-size: 28px; font-weight: bold; color: #333;">New Launch Products</h2>
        </div>

        <!-- Product Carousel -->
        <div id="new_launch_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- Product 1 -->
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-sm-4 text-center">
                            <div class="product_item">
                                <img src="{% static 'images/cp1.jpg' %}" alt="Product 1" class="img-fluid mb-3" style="width: 100%; height: auto;">
                                <h4 class="product_title" style="font-size: 20px; font-weight: bold; color: #333;">Product Name 1</h4>
                                <p class="product_description" style="font-size: 16px; color: #555; line-height: 1.8;">
                                    This is a description of Product 1. It features excellent quality, modern design, and the latest technology.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 2 -->
                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-sm-4 text-center">
                            <div class="product_item">
                                <img src="{% static 'images/cp2.jpeg' %}" alt="Product 2" class="img-fluid mb-3" style="width: 100%; height: auto;">
                                <h4 class="product_title" style="font-size: 20px; font-weight: bold; color: #333;">Product Name 2</h4>
                                <p class="product_description" style="font-size: 16px; color: #555; line-height: 1.8;">
                                    Product 2 is a state-of-the-art model, providing optimal performance and durability for every user.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 3 -->
                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-sm-4 text-center">
                            <div class="product_item">
                                <img src="{% static 'images/cp3.jpg' %}" alt="Product 3" class="img-fluid mb-3" style="width: 100%; height: auto;">
                                <h4 class="product_title" style="font-size: 20px; font-weight: bold; color: #333;">Product Name 3</h4>
                                <p class="product_description" style="font-size: 16px; color: #555; line-height: 1.8;">
                                    The latest in technology, Product 3 offers outstanding features that will change your lifestyle.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel Controls -->
            <a class="carousel-control-prev" href="#new_launch_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left" style="font-size: 40px; color: #333;"></i>
            </a>
            <a class="carousel-control-next" href="#new_launch_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right" style="font-size: 40px; color: #333;"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}
